$screen-xl: 90rem; // 1440px
$screen-l: 64rem; // 1024px
$screen-m: 48rem; // 768px
$screen-s: 26.25rem; // 420px

@font-face {
  font-family: AdidasFont;
  src: url(../fonts/AdihausDIN.ttf);
}

@mixin respond-xl {
  @media (max-width: $screen-xl) {
    @content;
  }
}

@mixin respond-l {
  @media (max-width: $screen-l) {
    @content;
  }
}

@mixin respond-m {
  @media (max-width: $screen-m) {
    @content;
  }
}

@mixin respond-s {
  @media (max-width: $screen-s) {
    @content;
  }
}

@mixin respond-any($size) {
  @media (max-width: $size) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: AdidasFont, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.01rem;
}

body {
  width: 100%;
  padding: 1rem 0;
}

main {
  width: min(90%, $screen-xl);
  margin-inline: auto;
}

#areas {
  margin-bottom: 1.5rem;
}

#map {
  width: 60%;
  aspect-ratio: 1 / 1;
  margin-inline: auto;
  border: 1px solid black;

  @include respond-l() {
    width: 32rem;
  }

  @include respond-any(36rem) {
    width: 100%;
  }
}

.pop-up-content {
  font-size: 0.5rem;
  text-align: center;
  color: black;
}

#bar-chart-container {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 1;
  margin-bottom: 1rem;
}

.pie-chart-area {
  display: inline-block;
  width: calc(100% / 3);
  aspect-ratio: 1 / 1;
  position: relative;
}

#pie-chart-container-nbbikes,
#pie-chart-container-nbemptydocks,
#pie-chart-container-nbdocks {
  @include respond-l() {
    width: calc(100% / 2);
  }

  @include respond-m() {
    width: 100%;
    padding: 0 4rem;
    margin-bottom: -7rem;
  }

  @include respond-s() {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
  }
}

/*
#pie-chart-container-nbbikes {
  @include respond-l() {
    width: calc(100% / 2);
  }

  @include respond-m() {
    width: 100%;
    padding: 0 1rem;
  }

  @include respond-s() {
    width: 100%;
    padding: 0;
  }
}

#pie-chart-container-nbemptydocks {
  @include respond-l() {
    width: calc(100% / 2);
  }

  @include respond-m() {
    width: 100%;
    padding: 0 1rem;
  }

  @include respond-s() {
    width: 100%;
    padding: 0;
  }
}

#pie-chart-container-nbdocks {
  @include respond-l() {
    width: calc(100% / 2);
  }

  @include respond-m() {
    width: 100%;
    padding: 0 1rem;
  }

  @include respond-s() {
    width: 100%;
    padding: 0;
  }
}
*/

/* 
.page-error {
}
 */

.hidden {
  display: none;
}
